<html>

    <head>
        <title>My Flask Website</title>
    </head>

    <body>

        <h1>Welcome to my website!</h1>


        <p>Here you can write all the text for your home page</p>

        <h2>This text came from an .html file</h2>

        <p>Another paragraph...</p>

        <h2>Active Links</h2>

        <p><a href="{{ url_for('weather_function') }}">Weather</a></p>

        <p><a href="{{ url_for('hello_function', name='nathan') }}">Say hello to nathan</a></p>

        <p><a href="{{ url_for('sum_api', num1=10, num2=5)}}">Add 10 and 5 (api)</a></p>

    </body>

</html>