<html>

    <head>
        <title>CalenPeer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home') }}">CalenPeer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>

                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                  </li>
                {% else %}


                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('calender') }}">Calender</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('create_event') }}">Create Event</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  </li>

                <small>Welcome back {{ current_user.username }}!</small>
                {% endif %}

              </ul>
            </div>
          </nav>




        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-secondary" role="alert" style="text-align: center;">
          {{ message }}
        </div>
        {% endfor %}

        {% endif %}
        {% endwith %}



        {% block content %}

        {% endblock %}



        <style>
          .row{
              margin-left: 0;
              margin-right: 0;
          }
        </style>
    </body>

</html>