{% extends "base.html "%}

{% block content %}

<div class="row">

    <div class="col-12" style="text-align: center;">
        <h1>Create an Event!</h1>
    </div>

</div>


<div class="row">

    <div class="col-12" style="text-align: center;">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.event_name.label }}<br>
                {{ form.event_name(size=32) }}
                {% for error in form.event_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.event_date.label }}<br>
                {{ form.event_date(size=32) }}
                {% for error in form.event_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
    
            <p>{{ form.submit() }}</p>
        </form>
    </div>

</div>



{% endblock %}