{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12" style="text-align: center;">
        <h1>Events for {{ username }}</h1>
    </div>
</div>

<div class="row">

    {% for event in events %}
    
    <div class="col-4" style="text-align: center; margin-top: 2%;">

        <h2> {{ event.event_name }}</h2>
        <p>posted by: <b>{{ event.user.username }}</b></p>
        <p>{{ event.event_description }}</p>
        <p>{{ event.event_date }}</p>


    </div>

    {% endfor %}

</div>

{% endblock %}